<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <title>Descargar CV</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <main>
        <div class="photo_col">
            <div class="photo_col__polygon"></div>

            <img 
                alt="Foto de Kristhian Ferrufino"
                class="photo_col__img" 
                src="https://res.cloudinary.com/dzs8lf9lc/image/upload/v1713576038/portfolio/users/c4ryqnyd1ryps7p1msjg.jpg"
            >

            <div class="photo_col__contact">
                <h2>Contacto</h2>

                <p>Jinotega, Nicaragua</p>
                <p>kristhdev@gmail.com</p>
                <p>+505 8639-4650</p>
                <p>https://kristhdev.vercel.app</p>
                <p>https://github.com/KristhDev</p>
                <p>https://www.linkedin.com/in/kristhian-ferrufino-528bb4235</p>
            </div>
        </div>

        <div class="content_col">
            <div class="content_col__section">
                <h1>Kristhian Ferrufino</h1>
                <p>Desarrollador Web</p>
            </div>

            <p class="content_col__section__summary">Apasionado desarrollador Full-Stack con formación en Ingeniería en Sistemas y experiencia en la creación de aplicaciones web. Dominio de tecnologías como TypeScript, React, Node.js y PHP para construir soluciones escalables. Busco aplicar mis habilidades en desarrollo UI/UX para diseñar experiencias de usuario intuitivas y eficientes que impulsen el éxito de los proyectos.</p>

            <div class="content_col__section">
                <h2>Experiencia Laboral</h2>

                <div class="content_col__section__experience">
                    <div class="content_col__section__experience__item">
                        <h3>Desarrollador FullStack (Pasantía) | Feb 2023 - Jul 2023</h3>
                        <h4>Centro Tecnológico Marcos Homero Guatemala INATEC</h4>
                        <p>Desarrollo de una aplicación web para llevar el control de asistencias del centro, incluyendo el diseño y creación de la base de datos, así como el desarrollo de la API del sistema. También se implementó la aplicación frontend con React y TypeScript, se realizó el monitoreo de la actividad y se llevó a cabo el despliegue de todas las aplicaciones del sistema.</p>
                    </div>

                    <div class="content_col__section__experience__item">
                        <h3>Profesor de Programación (Subcontratado) | Mar 2025 - Jun 2025</h3>
                        <h4>Universidad Nacional Autónoma de Nicaragua</h4>
                        <p>Desarrollo e implementación de la aplicación web para la gestión de asistencias del centro, incluyendo la creación de la base de datos y el desarrollo de la API del sistema. Se llevó a cabo el desarrollo del frontend con React y TypeScript, se realizó el monitoreo de la actividad de los usuarios y se gestionó el despliegue de todas las aplicaciones del sistema.</p>
                    </div>
                </div>
            </div>

            <div class="content_col__section">
                <h2>Educación</h2>

                <div class="content_col__section__education">
                    <div class="content_col__section__education__item">
                        <h3>Ingeniería en Sistemas de Computación</h3>
                        <h4>Universidad del Norte de Nicaragua</h4>
                        <p>Feb 2019 - Mar 2023</p>
                    </div>

                    <div class="content_col__section__education__item">
                        <h3>Ingeniería en Sistemas de Computación</h3>
                        <h4>Universidad Nacional Padre Gaspar García Laviana</h4>
                        <p>Mar 2023 - May 2024</p>
                    </div>
                </div>
            </div>

            <div class="content_col__section">
                <h2>Habilidades</h2>

                <div class="content_col__section__skills">
                    <div class="content_col__section__skills__item">
                        <h3>Lenguajes</h3>
                        <p>HTML, CSS, SCSS, JavaScript, TypeScript, PHP</p>
                    </div>

                    <div class="content_col__section__skills__item">
                        <h3>Frameworks</h3>
                        <p>Tailwind CSS, React, Expo / React Native, Next.js, Node.js, Laravel</p>
                    </div>

                    <div class="content_col__section__skills__item">
                        <h3>Bases de Datos</h3>
                        <p>MySQL, MongoDB</p>
                    </div>

                    <div class="content_col__section__skills__item">
                        <h3>BAAS</h3>
                        <p>Firebase, Supabase</p>
                    </div>

                    <div class="content_col__section__skills__item">
                        <h3>Herramientas</h3>
                        <p>PHPUnit, Jest, Vitest, Testing Library, Docker</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>